# Build output
doom.exe
doomdbg.exe
/doom
doom-dbg
doom-o2g
*.o
*.obj

# Bundled SDL3 runtime
SDL3.dll

# DOOM runtime files
*.cfg
.doomrc
default.cfg
DOOM*.pcx
*.dsg
crash.log

# IWADs / commercial game data are NOT distributed here (licensing)
*.wad
run/doom-linux
run/doom.exe

# Misc
build.log
run.log
